body{
    background-image: url(../IMG/Background3.png);
}

.box-cont {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 20px rgb(63, 63, 63);
    margin-bottom: 60px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}

.h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

b {
    font-family: 'Oswald', sans-serif;
    ;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}