body{
    background-image: url(../IMG/Background3.png);
}

img{
    border-radius:10px;
    transition: 0.2s;
}

img:hover {
    transform: scale(1.01);
}
.img-box {
    text-align: center;
    margin-bottom: 50px;
}

.img-box img{
    display:inline;
    width:15%;
}

.img-box img:hover {
    transform: scale(1.05);
    margin-left:10px;
    margin-right:10px;
}

.h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

b {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}
main p {
    font-size: 18px;
    text-align: justify;
}

.Banner{
    cursor:pointer;
}
/* Esconde checkbox */
.gatilho {
    display: none;
}

/* Caixa fechada */
.caixa-texto {
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transition:
        max-height 0.4s ease,
        opacity 0.3s ease,
        padding 0.4s ease;

    padding: 0 15px;
    box-sizing: border-box;
}

/* Quando clicar */
.gatilho:checked ~ .caixa-texto {
    max-height: 1500px;
    opacity: 1;
    padding: 15px;
}