

/*A PARTIR DAQUI É SÓ OS ASSUNTOS DO SITE+++*/

main {
    flex: 1;
    margin-bottom: 10px;
}

.conteiner {
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 250px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    background-color: rgb(25, 25, 25);
    flex-grow: 1;
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.item:hover {
    transform: scale(1.05);
}

footer {
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

footer hr {
    margin: 0 auto 30px auto;
}

.estilo {
    background-color: rgb(0, 255, 208);
    width: 100px;
    height: 50px;
    margin: 20px;
    margin-right: 200px;
}

.titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    left: 10px;
    bottom: 5px;
    font-size: 50px;
    white-space: nowrap;
}

.estilo:hover {
    transition: 0.5s;
    width: 500px;
}

.BannerY {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}