body {
    margin: 0;
    padding: 0;
}

/*Config geral do cabeçalho*/

.cab {
    background-color: rgb(47, 47, 47);
    position: relative;
    z-index: 2;
    padding-top: 130px;
}

/*Config da logo no cabeçalho*/

.cab .cab-logo {
    text-align: right;
    margin-top: -210px;
    margin-right: 50px;
    user-select: none;
}

/*Config do 'KaMusic' no cabeçalho*/

.cab-titulo h1 {
    color: white;
    font-size: 80px;
    margin-top: -30px;
    margin-bottom: 30px;
    font-weight: 20;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    user-select: none;
    margin-left: 100px;
    margin-top: 40px;
}

/*Config do menu*/

.menu {
    display: flex;
    margin-top: -60px;
}

/*Config dos 'as' no menu*/

.menu a {
    color: white;
    flex: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid gray;
}

/*Cores dos tópicos do menu*/

.menu #home {
    border-bottom: rgb(252, 128, 128);
}

.menu #sobre {
    border-bottom: rgba(101, 113, 246, 0.5);
}

.menu #estilos {
    border-bottom: rgb(119, 252, 119);
}

.menu #artistas {
    border-bottom: rgba(255, 249, 129, 0.8);
}

/*Cores dos tópicos do menu ao terem o mouse passado por cima*/

.menu #home:hover {
    border-bottom: rgb(255, 0, 0);
}

.menu #sobre:hover {
    border-bottom: rgb(0, 21, 255);
}

.menu #estilos:hover {
    border-bottom: green;
}

.menu #artistas:hover {
    border-bottom: rgb(242, 255, 0);
}

/*Predefinições gerais dos tópicos do menu*/

.menu #home, .menu #sobre, .menu #estilos, .menu #artistas {
    transition: 0.2s;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

/*Predefinições gerais dos tópicos do menu ao terem o mouse passado por cima*/

.menu #home:hover, .menu #sobre:hover, .menu #estilos:hover, .menu #artistas:hover {
    transition: 0.2s;
    margin-top: -7px;
    background-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 10px;
}

/*Config do 'mini' menu, que aparece qnd a tela do cabeçalho acaba*/

.menu-abaixo {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50px;
    background-color: rgb(47, 47, 47);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: -180px;
    box-shadow: 3px 3px 7px rgb(47, 47, 47, 0.7);
}

/*Config do 'KaMusic' do 'mini' menu */

.menu-abaixo .h1 {
    text-decoration: none;
    user-select: none;
    color: white;
    font-size: 40px;
    font-weight: 20;
    align-self: center;
    justify-self: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.2s;
}

/*Config do 'KaMusic' do 'mini' menu ao ter o mouse passado por cima*/

.menu-abaixo .h1:hover {
    background-color: rgb(80, 80, 80);
    border-radius: 7px;
}

/*Configs gerais dos 'as' do 'mini' menu*/

.menu-abaixo .a {
    margin-right: 70px;
    margin-left: 70px;
    padding-bottom: 6px;
    padding-top: 15px;
    color: white;
    font-size: 20px;
    font-weight: 10;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    text-align: center;
    flex: 1;
}

/*Cores dos tópicos do 'mini' menu */

.menu-abaixo #home {
    border-bottom: rgba(101, 113, 246, 0.5);
}

.menu-abaixo #sobre {
    margin-left: -30px;
    border-bottom: rgb(252, 128, 128);
}

.menu-abaixo #estilos {
    margin-right: -30px;
    border-bottom: rgb(119, 252, 119);
}

.menu-abaixo #artistas {
    border-bottom: rgba(255, 249, 129, 0.8);
}

/*Cores dos tópicos do 'mini' menu ao terem o mouse passado por cima*/

.menu-abaixo #home:hover {
    border-bottom: rgb(0, 21, 255);
}

.menu-abaixo #sobre:hover {
    border-bottom: rgb(255, 0, 0);
}

.menu-abaixo #estilos:hover {
    border-bottom: green;
}

.menu-abaixo #artistas:hover {
    border-bottom: rgb(242, 255, 0);
}

/*Predefinições gerais dos tópicos do 'mini' menu */

.menu-abaixo #home, .menu-abaixo #sobre, .menu-abaixo #estilos, .menu-abaixo #artistas{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    transition: 0.2s;
}

/*Predefinições gerais dos tópicos do 'mini' menu ao terem o mouse passado por cima */

.menu-abaixo #home:hover, .menu-abaixo #sobre:hover, .menu-abaixo #estilos:hover, .menu-abaixo #artistas:hover{
    border-bottom-style: solid;
    border-bottom-width: 10px;
    margin-top: -6px;
    background-color: gray;
}

/* 

Botão de menu:

.menu-button{
    cursor:pointer;
}

.menu-button div {
    width: 35px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 1px;
}

*/
.box-sobrenos{
columns: 3;
column-gap: 20px;
border-style: outside;
border-bottom: #000000;
border-width: 1px;
border-radius: 10px;    
}
