body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: white;
}

.cab .logo {
    text-align: right;
    margin-top: -210px;
    margin-right: 50px;
    user-select: none;
}

.cab {
    background-color: rgb(47, 47, 47);
    position: relative;
    z-index: 2;
    padding-top: 130px;
}

.cab-titulo h1 {
    color: white;
    font-size: 80px;
    margin-top: -30px;
    margin-bottom: 30px;
    font-weight: 20;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    user-select: none;
}

.menu-block {
    display: inline-flex;
    margin-left: 100px;
    margin-top: 60px;
}

.menu {
    display: flex;
    margin-top: -60px;
}

.menu a {
    color: white;
    flex: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid gray;
}

.menu #home {
    border-bottom: 6px solid rgba(101, 113, 246, 0.5);
    transition: 0.2s;
}

.menu #home:hover {
    margin-top: -6px;
    background-color: gray;
    border-bottom: 8px solid rgb(0, 21, 255);
}

.menu #sobre {
    border-bottom: 6px solid rgb(252, 128, 128);
    transition: 0.2s;
}

.menu #sobre:hover {
    margin-top: -6px;
    background-color: gray;
    border-bottom: 10px solid rgb(255, 0, 0);
}

.menu #estilos {
    border-bottom: 6px solid rgb(119, 252, 119);
    transition: 0.2s;
}

.menu #estilos:hover {
    margin-top: -7px;
    background-color: gray;
    border-bottom: 10px solid green;
}

.menu #artistas {
    border-bottom: 6px solid rgba(255, 249, 129, 0.8);
    transition: 0.2s;
}

.menu #artistas:hover {
    margin-top: -7px;
    background-color: gray;
    border-bottom: 10px solid rgb(242, 255, 0);
}

.menu-abaixo {
    display:flex;
    justify-content: center;
    align-items:end;
    height:50px;
    background-color: rgb(47, 47, 47);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: -180px;
    box-shadow: 3px 3px 7px rgb(47, 47, 47, 0.7);
}

.menu-abaixo .h1 {
    text-decoration: none;
    user-select: none;
    color: white;
    font-size: 40px;
    font-weight: 20;
    align-self: center;
    justify-self: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.2s;
}

.h1:hover{
    background-color: rgb(80, 80, 80);
    border-radius: 7px;
}

.menu-abaixo .a{
    margin-right:70px;
    margin-left:70px;
    padding-bottom: 6px;
    padding-top: 15px;
    color: white;
    font-size: 20px;
    font-weight: 10;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    text-align: center;
    flex:1;
}

.menu-abaixo #home {
    border-bottom: 5px solid rgba(101, 113, 246, 0.5);
    transition: 0.2s;
}

.menu-abaixo #home:hover {
    margin-top: -6px;
    background-color: gray;
    border-bottom: 8px solid rgb(0, 21, 255);
}

.menu-abaixo #sobre {
    margin-left:-30px;
    border-bottom: 5px solid rgb(252, 128, 128);
    transition: 0.2s;
}

.menu-abaixo #sobre:hover {
    margin-top: -6px;
    background-color: gray;
    border-bottom: 10px solid rgb(255, 0, 0);
}

.menu-abaixo #estilos {
    margin-right: -30px;
    border-bottom: 5px solid rgb(119, 252, 119);
    transition: 0.2s;
}

.menu-abaixo #estilos:hover {
    margin-top: -7px;
    background-color: gray;
    border-bottom: 10px solid green;
}

.menu-abaixo #artistas {
    border-bottom: 5px solid rgba(255, 249, 129, 0.8);
    transition: 0.2s;
}

.menu-abaixo #artistas:hover {
    margin-top: -7px;
    background-color: gray;
    border-bottom: 10px solid rgb(242, 255, 0);
}

/* 

Botão de menu:

.menu-button{
    cursor:pointer;
}

.menu-button div {
    width: 35px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 1px;
}

*/
