* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    margin-top: auto;
    background-color: white;
}

.meio {
    margin-top: 20px;
}

p {
    text-align: justify;
    line-height: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    float: left;
}

a {
    text-decoration: none;
    color: black;
}

/* TOPO */
.menu_top {
    width: 100%;
    height: 150px;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 999;
}

.top_esp {
    width: 140px;
    float: right;
    margin-right: 150px;
}

.top_dir {
    float: left;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    padding-top: 20px;
    margin-left: 20px;
}

/* LIMPAR FLOAT */
.clear {
    clear: both;
}

/* MENU */
.menu_down {
    height: 30px;
    text-align: center;
}

.menu {
    background: black;
    position: fixed;
    width: 100%;
}

/* LISTA PRINCIPAL */
.menu ul {
    list-style: none;
    margin: auto;
    padding: 0 auto;
    max-width: 800px;
    text-align: center;
}

.menu ul li {
    float: left;
    width: 20%;
    height: 50px;
    line-height: 50px;
    background-color: black;
    text-align: center;
    position: relative;
}

.menu ul li a {
    display: block;
    color: white;
}

.menu ul li:hover {
    background-color: black;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
}

.menu ul li:hover>ul {
    display: block;
}

.menu ul ul li {
    width: 150px;
    float: none;
    background-color: black;
}

.menu ul ul ul {
    position: absolute;
    top: 0;
    left: 150px;
}

.menu ul ul li:hover {
    background-color: black;
}

.menu ul ul ul li:hover {
    background-color: black;
}

.roda {
    z-index: 999;
    height: 330px;
    background-color: #000000;
    /* foolder, parte de trás*/
}

.roda p {
    margin-left: 600px;
    color: white;
}